
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Nanum+Gothic&family=Radio+Canada&family=Roboto+Mono&display=swap');

body {
  background: rgb(242,240,240);
  background: linear-gradient(90deg, rgba(242,240,240,1) 30%, rgba(247,245,245,1) 67%);
}

.footer {

 position:fixed;
 bottom:0;
 width:100%;
 text-align:center;
 color:white;
 background-color:rgb(42, 40, 40);
 padding:10px;
 font-family: 'Roboto Mono', monospace;
 font-size:20px;
}
#img  {
border:15px solid white;
border-radius:20px;
-webkit-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.25);
}
#img:hover {
  border-radius:30%;
}
#camera {
  border:15px solid white;
border-radius:20px;
-webkit-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.25);
}
#selfie1 {
  border:15px solid white;
border-radius:20px;
-webkit-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.25);
}
#selfie1:hover {
  border-radius:30%;
}

#selfie2 {
  border:15px solid white;
border-radius:20px;
-webkit-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.25);
}
#selfie2:hover {
  border-radius:30%;
}

#selfie3 {
  border:15px solid white;
border-radius:20px;
-webkit-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
-moz-box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.21);
box-shadow: 3px 3px 13px 5px rgba(0,0,0,0.25);
}
#selfie3:hover {
  border-radius:30%;
}
